.mini__cart__item {
    display: flex;
    margin-bottom: 40px;
    justify-content: space-between;
}

.mini__cart__item__right {
    display: flex;
    height: 100%;
}

.mini__cart__item__sign {
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;

    border: 1px solid #000;
    
    font-size: 25px;

    cursor: pointer;
}

.mini__cart__item__num__sign {
    display: block;
    margin: 60px 0px;
    
    font-size: 16px;
    font-weight: 500;
    
    text-align: center;
}

.mini__cart__item__add__buttons {
    display: block;
    margin-right: 20px;   
}

.mini__cart__item__img__block {
    display: block;
    width: 121px;
    height: 190px;

    position: relative;
}


.mini__cart__item__title, 
.mini__cart__item__subtitle {
    margin: 5px 0px;

    font-size: 16px;
    font-weight: 300;
}

.mini__cart__item__price {
    font-weight: 500;
    font-size: 16px;
}

